/********* COLORS ***********/
$color-white: #ffffff;
$color-grey: #e8f0f7;
$color-lightblack: #222222;
$color-black: #000000;
$color-primary: #0f65ae;
$color-secondary: #029bdc;
$color-third: #23a5db;

/********* FONTS WEIGHT***********/
$f-thin: 200;
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-bold: 600;
$f-black: 700;

/********* FONTS SIZE***********/
$s-one: 2.625rem;
$s-two: 2rem;
$s-three: 2rem;
$s-four: 1.75rem;
$s-five: 1.25rem;
$s-text: 1.06rem;

/********** LINE HEIGHTS *********/
$l-one: 3.25rem;
$l-two: 2.4rem;
$l-three: 2.4rem;
$l-four: 2.1rem;
$l-five: 1.5rem;
$l-text: 1.25rem;

/********* FONTS FAMILY***********/
$font-primary: Arial, Arial, Helvetica, sans-serif;
$font-secondary: Arial, Helvetica, sans-serif;
